.advances {
    background-image: url('../img/bg/advances.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}
.advances__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section__advances-title {
    @extend .section__title;
    color: $dark;
    margin-bottom: 80px;
}
.advances__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}
.advances__item {
    display: flex;
    // justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex: 1;
    padding: 0 5px;
}
.advances__img {
   margin-bottom: 30px;
    
}
.advances__img_meat {
    background-image: url('../img/content/meat.png');
    background-repeat: no-repeat;
    width: 97px;
    height: 89px;
}
.advances__img_hand {
    background-image: url('../img/content/hand.png');
    background-repeat: no-repeat;
    width: 97px;
    height: 89px;
}
.advances__img_natural {
    background-image: url('../img/content/natural.png');
    background-repeat: no-repeat;
    width: 97px;
    height: 89px;
}
.advances__name {
    font-family: lifehackmedium;
    color: $dark;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    padding-bottom: 20px;
    // letter-spacing: -1.2px;
}
.advances__description {
    text-align: center;
    color: $dark;
    font-size: 14px;
}
