.advances {
    background-image: url('../img/bg/advances.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}
.advances__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advances__list {
    display: flex;
    @include tablets {
        flex-direction: column;
      
     }
     @include phones {
        flex-direction: column;
        
     }
    
}
.advances__item {
    margin-right: rem(20px);
    &::last-child {
        margin-right: 0;
    }
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablets {
        flex-direction: row;
      
     }
     @include phones {
        flex-direction: row;
        
     }

}
.advances__img {
   margin-bottom: rem(30px);
   @include tablets {
    margin-right: 20px;
  
     }
    @include phones {
    flex-direction: row;
    margin-right: 15px;
    }

  
    
}

.advances__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablets {
        align-items: flex-start;
        margin-bottom: rem(20px);
      
         }
        @include phones {
            align-items: flex-start;
            margin-bottom: rem(15px);
        }
}
.advances__img_meat {
    background-image: url('../img/content/meat.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    min-width: rem(97px);
    height: rem(89px);
}
.advances__img_hand {
    background-image: url('../img/content/hand.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    min-width: rem(97px);
    height: rem(97px);
}
.advances__img_natural {
    background-image: url('../img/content/natural.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    min-width: rem(97px);
    height: rem(97px);
}

.advances__name {
    font-family: lifehackmedium;
    color: $dark;
    font-size: rem(25px);
    line-height: rem(25px);
    text-align: center;
    padding-bottom: rem(20px);
    // letter-spacing: -1.2px;
    @include tablets {
       
        text-align: left;
      
         }
        @include phones {
            
            text-align: left;
        }
}
.advances__description {
    text-align: center;
    color: $dark;
    font-size: rem(14px);
    @include tablets {
         text-align: left;
          }
    @include phones {
         text-align: left;
         }
 }
