.delivery {
    background-image: url('../img/bg/delivery.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}
.delivery__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    // align-content: center;
    justify-content: center;
    text-align: center;
}
.form {
  max-width: rem(940px);
}
.form__container {
  display: flex;
    @include tablets {
      flex-direction: column;
      align-items: center;
    }
    @include phones {
      flex-direction: column;
      align-items: center;
    }
}
.form__content {
  width: 50%;
    @include tablets {
      width: 90%;
    @include phones {
      width: 95%;
    }  
  }
}
  .form__block-title {
    color: $white;
    white-space: nowrap;
    text-align: left;
    
  }
  
  .form__input {
    border: none;
    border-radius: rem(5px);
    padding: rem(5px);
    width: 100%;
    height: rem(35px);
  }

  .form__input_comment {
    height: rem(109px);
  }
  
  .form__row {
    display: flex;
    margin-bottom: rem(20px);
    
  }
  
  .form__block {
    flex: 1;
    margin-left: rem(20px);
    // margin-right: rem(10px);
    
    &:first-child {
      margin-right: 0;
    }
  }
  .form__block_choise {
    display: flex;
    flex: 0;
    align-items: center;
    position: relative;
    
    .form__input {
      width: rem(15px);
      height: rem(15px);
      margin-right: rem(10px);
      
      display: none;
    }
    .form__block-title {
      margin-left: rem(35px);
    }

  }
  // .form__block_checkbox {
  //   display: flex;
  //   // flex: 0;
  //   align-items: center;
  //   .form__input {
  //     width: rem(15px);
  //     height: rem(15px);
  //     margin-right: rem(10px);
  //   }
  //   .form__block-title {
  //     white-space: nowrap;
  //   }
  // }
.button-shop__link_no-outline {
  outline: none;
  border: none;
  margin-left: rem(20px);
}
.button__clear {
  outline: none;
  border: none;
  background-color: transparent;
  color: $white;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1.42;
  // text-transform: uppercase;
  transition: .5s;
  &:hover {
    color: $yellow;
  }
  margin-left: rem(20px);
}
.form__radio-custom {
  position: absolute;
  top: rem(5px);
  left: 0;
  width: rem(15px);
  height: rem(15px);
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #eee9eb, #fff);
  transition: 0.3s;
  &:hover {
    background-image: linear-gradient(to top, #eee9eb, #fff);
  }
}
.form__radio-custom_no-phone {
  border-radius: 0px;
}
.form__input:checked + .form__radio-custom:after {
  content: '';
  display: block;
  width: 46%;
  height: 46%;
  border-radius: 50%;
  margin: 28%;
  background-color: $orange;

}

.form__input_no-phone:checked + .form__radio-custom:after {
  content: '';
  display: block;
  width: 76%;
  height: 76%;
  border-radius: 0px;
  margin: 13%;
  background-color: transparent;
  background-image: url('../img/content/chek.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

}
.form__input:focus + .form__radio-custom {
  border:solid 2px red;
}