.slider {
    display: flex;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #f9b43b 16%, #eb8c38 52%, #f9b43b 100% );
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.slider__arrow {
    width: 7%;
    height: 72%;
    border: 1px dashed black;
}

.slider__content {
    display: flex;
    justify-content: space-between;
    width: 83%;
    height: 72%;
    border: 1px dashed black;
}

.slider__picture, .slider__descript {
    height: 100%;
    width: 49%;
    border: 1px dashed blue;
}

.slider__descript {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    }

.slider__burger-name {
    height: 25%;
    border: 1px dashed red;
    margin-bottom: rem(50px);
}

.slider__burger-descript {
    height: 19%;
    border: 1px dashed red;
    margin-bottom: rem(50px);
}

.slider__burger_price {
    height: 10%;
    border: 1px dashed red;
    margin-bottom: rem(50px);
}

.slider__arrow {
    position: relative;
}
.slider__scroll-left {
display: block;
position: absolute;
top: rem(17px);
left: rem(8px);
fill: $white;
width: rem(29px);
height: rem(14px);
margin-bottom: rem(40px);
transform: rotate(90deg) ;
transition: 0.5s;
}
