.footer {
    // margin-top: auto;
    display: flex;
    background-image: url('../img/bg/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height:rem(60px);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
      @include phones {
        min-height:rem(116px);
      }
}
.footer__content {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    max-width: rem(940px);
    margin: 0 auto;

      @include phones {
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        text-align: center;  
      }
  
}

.footer__contact-adress {
    color: $white;
    font-size: rem(14px);
}
.footer__contact-phone {
    font-size: rem(14px);
    color: $orange;
    &:hover .phone {
        fill: white;
      }
    &:hover {
        color: $white;
    }  
}
.footer__sosial {
  display: flex;
  @include phones {
  margin-top: rem(15px);
  }
}
.footer__sosial-item {
  margin-left: rem(20px);
}
.icon {
    fill: #5a5a5a;
    width: rem(20px);
    height: rem(20px);
    &:hover {
      fill: white;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  .phone {
    fill: $orange;
    width: rem(12px);
    height: rem(11px);
    &:first-child {
      margin-left: 0;
    }
  }